html{
    background: #f5f5f5;
    font-family: 'Nunito', sans-serif;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 20px 20px 20px 20px;
}
h1{
    margin-top: 40px;
    font-size:35px;
    font-family: 'Pacifico';
    color: #313131;
}

h2{
    border-bottom: 2px solid #dfdfdf;
    padding: 15px;
}

h4{
    margin-top: 30px;
}

p{
    font-size:25px;
    text-align: justify;
    margin: 5px;
}
a{
    color:#313231;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

button{
    font-family: 'Nunito', sans-serif;
}

.center {
	text-align: center;
}

.flex{
    display:flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.nowrap{
    flex-wrap: wrap;
}

body{
    margin: 0 auto;
}


.container{
    width:100%;
    margin:0 auto;
    display: flex;
}

.grow0{
    flex-grow: 0;
}

.grow1{
    flex-grow: 1;
}
   
.item{
    flex: 1;
}

header{
    background: #f5f5f5;
    text-align: center;
    width: 100%;
    height: -90vh;
}

header img{
    width: auto;
    height: 15rem;
    padding: 1rem;
}

footer{
    background: rgb(86, 196, 204);
    width: 100%;
    margin-bottom:0;
    margin-top:3rem;
    padding-bottom: 10px;
    position: absolute;
    text-align: center;
    color: #fff;
}

/*cabeçalho*/

.title_principal{
    font-size: 90px;
    margin: 50px;
    font-family: 'Pacifico', cursive;
    color: rgb(143, 115, 185);
}


nav{
    background-image: linear-gradient(-135deg, rgb(143, 115, 185) 0%, rgb(86, 196, 204) 20%, #f296ab 40%, #d962db 60%, #858cdd 80%, #14b4d1 100%);
    z-index:99;
    position: sticky;
    width: 100%;
    top: 0;
    height: 64px;
    line-height: 64px;
    align-items: center;
    text-align: center;
}

nav ul{
    margin:-25px 0 0 0;
    margin-left: -100px;
}

nav li{
    text-decoration: none;
    display: inline;
    margin-left:80px;
} 

.spotlight-banner{
    position: relative;
    opacity:1;
    background:rgb(86, 196, 204);
    width:100%;
    text-align: center;
    height: 350px;
    line-height: 150px;
    margin: -50px 0px 0px 0px;
}


.card{
    position: relative;
    border-radius: 5px;
    height: auto;
    margin: 3px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-title{
    position: relative;
    text-align: left;
    font-size: 2.5vw;
    padding: 10px;
    background:#fff;
    margin: -45px 0 0 0;
    border-bottom: 4px solid  rgb(86, 196, 204);

} 

.card-text {
    z-index: 100;
    margin: 15px;
    margin-top: -60px 60px 0 0;
    padding: 10px;
}

.card-button {
    background-color:  rgb(86, 196, 204);
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-size: 2vw;
    padding: 6px 34px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.card-title1{
    position: absolute;
    text-align: left;
    font-size: 2.5vw;
    padding: 10px;
    background:#fff;
    top: 0;
    border-bottom: 4px solid  rgb(86, 196, 204);
} 


.card-button1{
    width: 100%;
    position: absolute;
    font-size: 2.5vw;
    color: #fff;
    padding: 10px;
    bottom: 0;
    background:rgb(86, 196, 204);
    border: none;
}

.button-seemore{
    width: 200px;
    border-radius: 10px;
    height: 50px;
    font-size: 25px;
    margin: 50px 0 0 0;
    background: rgb(86, 196, 204);
    border: none;
    color:#fff;
    cursor: pointer;
}


/*about*/

.image-about{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: cover;
    margin: 20px;
    border: 1rem solid transparent;
}


/*links*/

.button-sociais{
    width: 350px;
    border-radius: 10px;
    height: 50px;
    font-size: 25px;
    margin: 20px;
    background: linear-gradient(-135deg, rgb(143, 115, 185) 0%, rgb(86, 196, 204));
    border: none;
    color:#fff;
    cursor: pointer;
}






      
     
      