html{
    background: #fff;
    font-family: 'Nunito', sans-serif;
}

p{
    font-size:18px;
    text-align: left;
    margin: 5px;
    width: auto;
    height: auto;
}
a{
    color:#7430cc;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

span{
    color: #fff;
    font-weight: bold;
}


a:hover{
    transition: 0.5 ease-in-out;
    color:#5ebdde; 
}

.m-1{
    margin: 10px;
}

.center {
	text-align: center;
}

.flex{
    display:flex;
}

.flex-start {
	align-items: flex-start;
}

.flex-wrap{
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.nowrap{
    flex-wrap: wrap;
}

body{
    margin: 0 auto;
}

.large{
    font-size: 35px;
}

/*text*/

.white-text{
    color: #fff;
}

.turquese-text{
    color: aquamarine;
}

.purple-text{
    color: #a487ca;
}

.rose-text{
    color:#E986C1;
}

/*bg*/

.white{
   background: #fff;
}

.turquese{
    background: aquamarine;
}

.purple{
    background: #a487ca;
}

.rose{
    background:#E986C1;
}


.center{
    align-items: center;
}

.rounded{
    border-radius: 360%;
}

.avatar{
    width: 250px;
    height: 250px;
    border: 8px solid #a487ca;
}

.container{
    width: auto;
	margin: 0 auto;
	display: flex;
}

.p-1{
    padding:5px;
}

.grow0{
    flex-grow: 0;
}

.grow1{
    flex-grow: 1;
}
   
.item{
    background:#a487ca;
    flex: 1;
}


.about{
    position: relative;
    max-width:400px;
    color:#707070;
    background:#fff;
}

@media (max-width: 400px) {
    .row{
        flex-direction: column;
    }

        
    .about{    
        max-width:auto;
        
    }

}


.card{
   float: left;
    border-radius: 5px;
    height: auto;
    background: #fff;
    width:auto;
    padding: 8px;
}

.card img{
    height: 150px;
    width: auto;
}


.card-title{
    text-align: left;
    color: #424242;
    text-transform: uppercase;
    font-size: 18px;
}


.card-text {
    text-align: left;
    color: #424242;
    font-size: 18px;
}


/*links*/

.btn{
    border-radius: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}


.h-load-bar {
    width: 90%;
    height: 7px;
    background: #eee;
    overflow: hidden;
    border-radius: 10px;
    
  }

  .load-step::before {
    width: 100px;
    height: 7px;
    border-radius: 10px;
    background: #a24bbd;
    position:absolute;
    content:"";
    animation: step-load 2s linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes step-load {
  
    100% {
      width: 40%;
    }
  }

      
  .load-step1::before {
    width: 100px;
    height: 7px;
    border-radius: 10px;
    background: #4b9297;
    position:absolute;
    content:"";
    animation: step-load1 2s linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes step-load1 {
  
    100% {
      width: 20%;
    }
  }

      
  .load-step2::before {
    width: 100px;
    height: 7px;
    border-radius: 10px;
    background:#ff7bcd;
    position:absolute;
    content:"";
    animation: step-load2 2s linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes step-load2 {
  
    100% {
      width: 60%;
    }
  }



      
